.left {
    float: left;
    width: 48%;
}

.right {
    margin-left: 50%;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8e8e;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8e8e;
}
